{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}

<form method="POST" enctype="multipart/form-data" action="{% url 'submit_post' %}">
    {% csrf_token %}
    <div class="mb-3">
        <div class="form-floating">
            <textarea required class="form-control" placeholder="Post some content today !" id="post_caption"
                name="post_caption" style="height: 100px"></textarea>
            <label for="post_caption">Your content</label>
        </div>
        <div class="input-group">
            <input type="file" class="form-control" name="post_image" id="post_image" aria-label="Upload"
                accept=".jpeg, .jpg, .png">
        </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center;">
        <button type="submit" class="btn btn-dark">Post my content</button>
    </div>
</form>
{% else %}
<div class="alert alert-warning" role="alert">
    You are required to sign in to make Post.
</div>
{% endif %}

{% for post in posts %}
<div class="card" style="width: 25rem; margin: 0.5rem auto;">
    {% if post.image and post.image.url %}
    <img src="{{post.image.url}}" class="card-img-top" alt="Post image">
    {% endif %}
    <div class="card-body">
        <p class="card-text" style="font-style: italic;">{{post.caption}}</p>

        {% if request.user.id != post.user.id %}
        <form method="POST" action="{% url 'like_post' post.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger" style="margin-top: 1rem;">
                <span class="material-symbols-outlined">thumb_up</span>

            </button>
        </form>
        {% endif %}
        <a class="badge bg-light" style="color: black;" href="/profile/{{post.user.username}}">Posted by : {{post.user.username}}</a>
        <span class="badge bg-light" style="color: black;">{{post.created_at}}</span>
    </div>
</div>

{% endfor %}


{% endblock %}