{% extends 'base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="alert alert-warning" role="alert">
    Hey, It seems you are already logged in !
</div>
{% else %}
<form style="width: 40%; margin: 0 auto; margin-top: 1rem;" method="POST" action="{% url 'sign_up' %}"
    autocomplete="off">
    {% csrf_token %}

    {% if error %}
    <div class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>
    {% endif %}

    <h1>Sign Up Page</h1>

    <!-- Email -->
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>

    <!-- username -->
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>

    <!-- password -->
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>

    <!-- submit button -->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endif %}

{% endblock %}